
.k-hbox {
    margin-left: auto;
    margin-right: auto;
  }
  .delete {
    background-color: #ff6358;
    color: white;
    margin-left: 1rem;
  }
  .update {
    background-color: #217af6;
    color: white;
  }
  .b {
    display: flex;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  .title {
    font-weight: 900;
  }
  .header {
    display: flex;
    float: end;
    margin-left: 50rem;
    margin-bottom: 0.5rem;
  }
  .add {
    margin-right: 1rem;
    background-color: rgb(33, 122, 247);
    color: #fff;
    font-size: 1rem;
  }